.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  padding: 40px;
}

.md {
  @apply text-gray-900 leading-normal break-words;
}

.md > * + * {
  @apply mt-0 mb-4;
}

.md li + li {
  @apply mt-1;
}

.md li > p + p {
  @apply mt-6;
}

.md strong {
  @apply font-bold;
}

.md a {
  @apply text-blue-600;
}

.md strong a {
  @apply font-bold;
}
/*
.md h1 {
  @apply leading-tight border-b text-4xl font-bold pb-2;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.md h2 {
  @apply leading-tight border-b text-2xl font-bold pb-2;
}

.md h3 {
  @apply leading-snug text-lg font-bold ;
}

.md h4 {
  @apply leading-none text-base font-bold ;
}

.md h5 {
  @apply leading-tight text-sm font-bold ;
}

.md h6 {
  @apply leading-tight text-sm font-bold text-gray-600;
}

.md h1, 
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    @apply mb-2 mt-12;
}
*/
.md blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.md code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-5;
}

.md pre {
  @apply bg-gray-100 rounded p-4;
}

.md pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.md ul {
  @apply text-base pl-8 list-disc;
}

.md ol {
  @apply text-base pl-8 list-decimal;
}

.md kbd {
  @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
}

.md table {
  @apply text-base border-gray-600;
}

.md th {
  @apply border py-1 px-3;
}

.md td {
  @apply border py-1 px-3;
}
