.sidenav {
  width: 256px;
  padding: 0 24px;
  @apply text-base bg-gray-50; 
}

.sidenav ul{
  @apply m-0 p-0;
}

.sidenav li {
  list-style-type: none;
  margin: 4px 0;
  @apply font-bold;
}
.sidenav a{
  @apply relative inline-flex items-center box-border w-full;

  min-height: 32px;
  padding: 5px 12px;
  border-radius: 4px;

  @apply border border-solid border-transparent;
  @apply no-underline;
  @apply break-words;
  hyphens: auto;
  @apply cursor-pointer;
  transition: background-color 130ms ease-out, color 130ms ease-out;
  @apply bg-transparent;
  @apply text-gray-700;
}

.sidenav a:hover{
  @apply bg-gray-100;
  @apply border-gray-200;
}

.sidenav a:focus{
outline: none;
}

.sidenav a:focus-visible{
  border-color: var(--troika-primary-blue);
}

.sidenav a:focus:not(:focus-visible){
  @apply bg-gray-100;
  @apply border-gray-200;
}

.sidenav .multilevel li{
  @apply font-normal;
}

.sidenav .multilevel a{
  padding-left: 24px;
}

.sidenav__heading {
  height: 40px;
  line-height: 40px;
  margin: 20px 0 5px 0;
  padding: 0 15px;
}
