
.sidenav {
  width: 256px;
  padding: 0 24px; 
  background-color: #fafafa;
}

.sidenav ul{
  margin: 0;
  padding: 0;;
}

.sidenav li {
  list-style-type: none;
  margin: 4px 0;
  font-weight: bold;
}
.sidenav a{
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: 32px;
  padding: 5px 12px;
  border-radius: 4px;
  border-color: transparent;
  box-sizing: border-box;
  border: 2px solid transparent;
  text-decoration: none;
  overflow-wrap: break-word;
  hyphens: auto;
  cursor: pointer;
  transition: background-color 130ms ease-out, color 130ms ease-out;
  background-color: transparent;
  color: #404040;
}

.sidenav a.is-selected,
.sidenav a:hover{
  background-color: #eee;
  border-color: #eee;
}

.sidenav a:focus{
  outline: none;
}

.sidenav a:focus-visible{
  border-color: #2563eb;
}

.sidenav a:focus:not(:focus-visible){
  background-color: #eee;
  border-color: #eee;
}

.sidenav .multilevel li{
  font-weight: normal;
}

.sidenav .multilevel a{
  padding-left: 24px;
}

.sidenav__heading {
  height: 40px;
  line-height: 40px;
  margin: 20px 0 5px 0;
  padding: 0 15px;
}
